<h1>Login</h1>
<p><font color="red"><%= flash[:notice] %></font></p>
<form action="/login" method="post">
  <div class="form_group">
    <label for="username">Username:</label>
    <input id="username" type="text" class="form-control" name="user[username]" value="" required>
    <br></br>
  </div>
  <div class="form_group">
    <label for="password">Password:</label>
    <input id="password" type="password" class="form-control" name="user[password]" value="" required>
    <br></br>
  </div>
  <button class="btn btn-default" type="submit" name="submit" vlaue="submit">Login</button> <a href="/">Cancel</a>
</form>
