<h1>Sign Up for an Account!</h1>
<form action="/users" method="post">
  <p><label for="username">Username: </label><input id="username" type="text" name="user[username]" value=""></p>
  <br></br>
  <p><label for="email">Email: </label><input id="email" type="text" name="user[email]" value=""></p>
  <br></br>
  <p><label for="password">Password: </label><input id="password" type="password" name="user[password]" value=""></p>
  <br></br>
  <button type="submit" name="submit" value="submit">Sign Up</button>
</form>
