<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPG Character</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <% if !Helpers.logged_in?(session) %>
              <a class="nav-item nav-link" href="/signup">Signup</a>
              <a class="nav-item nav-link" href="/login">Login</a>
            <% else %>
              <a class="nav-item nav-link" href="/users/<%= Helpers.current_user(session).slug %>">Home</a>
              <a class="nav-item nav-link" href="/characters/new">New Character</a>
              <a class="nav-item nav-link" href="/characters">All Characters</a>
              <a class="nav-item nav-link" href="/logout">Logout</a>
            <% end %>
          </div>
        </div>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
