<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RPG Character</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <% if !Helpers.logged_in?(session) %>
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/signup">Signup</a>
            <a class="nav-item nav-link" href="/login">Login</a>
          </div>
        </div>
      </nav>
      <% end %>
      <%= yield %>
      <p>footer here</p>
    </div>
  </body>
</html>
